.navbar {
  display: flex;
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  backdrop-filter: blur(10px);
  padding: 12px 20px;
  font-family: "Pompiere", sans-serif;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.65);
  color: var(--accent-color);
  z-index: 8000;
}

.nav-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Chicle', serif;
  font-size: 1.5rem;
  color: var(--bgcolor2);
  gap: 0.8rem;
  transition: color 0.3s ease;
}

.navbar-logo:hover {
  color: var(--accent-color);
}

.logo {
  width: 30px;
  height: 30px;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--bgcolor2);
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-right {
  display: flex;
  
}

.nav-login {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--bgcolor1);
  transition: color 0.3s ease;
}

.nav-login:hover {
  color: var(--accent-color);
}

.nav-login::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.cross {
  font-size: 4rem;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .nav-center {
    position: static;
    transform: none;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-link,
  .nav-login {
    font-size: 3.5rem;
  }

  .nav-left,
  .nav-right {
    margin: 8px 0;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .nav-center {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  .nav-link,
  .nav-login {
    font-size: 2rem;
  }

  .navbar-logo {
    font-size: 4rem;
    margin-left: 30px;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    position: absolute;
    left: 15px;
  }
}

.nav-toggle-icon {
  display: none;
  font-size: 4rem;
  cursor: pointer;
  color: var(--bgcolor2);
  margin-left: auto;
  z-index: 1001;
}

@media (max-width: 768px) {

  .nav-center,
  .nav-right {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .nav-center.show,
  .nav-right.show {
    display: flex;
  }

  .nav-toggle-icon {
    display: block;
    font-size: 1.5rem;
  }

  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .nav-left {
    flex: 1;
    justify-content: flex-start;
  }

  .nav-cross {
    font-size: 4rem;
    position: absolute;
    top: -20px;
    right: 20px;
  }

  .nav-link,
  .nav-login {
    font-size: 1rem;
    padding: 8px 0;
  }

  .navbar-logo {
    font-size: 1.6rem;
    margin-left: 55px;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    position: absolute;
    left: 15px;
  }
}

.user-dropdown {
  color: var(--accent-color);
  position: relative;
  cursor: pointer;
}

.user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 2px solid var(--accent-color); */
  padding: 2px;
  background-color: var(--bgcolor2);
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  right: 0;
  background: var(--bgcolor2);
  border: 1px solid var(--bgcolor1);
  border-radius: 8px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 999;
  min-width: 150px;
}

.dropdown-menu a,
.dropdown-menu button {
  font-family: 'Pompiere', sans-serif;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 900;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  color: var(--primary-color);
}