@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bgcolor1: #e9e9e9;
  --bgcolor2: #ffff;
  --primary-color: crimson;
  --text-color: #00473E;
  --accent-color: #e7b100;
}




body {
  font-family: "Pompiere", sans-serif;
  height: 100%;
  width: 100%;
  line-height: 1.6;
  letter-spacing: 1px;
  background-color: var(--bgcolor1);

}

.App {
  max-width: 100vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

}

textarea {
  resize: none;
}